* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

/* Nav bar */
nav {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #3c634c;
    z-index: 10;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav a {
    display: block;
    width: 100%;
    padding: 16px 20px;
    color: lightgrey;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    color: white;
    background-color: #14280a;
}

/* Main content */

main {
    position: relative;
    top: 50px;
    margin: 0 100px;
}

#about {
    text-align: center;
}

#about article {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    text-align: left;
}

#profile-img {
    width: 100%;
    margin-left: 20px;
}

#profile-img img {
    width: 100%;
    border: 1px solid RGBA(0,0,0,0);
    border-radius: 5px;
}

section {
    border: 1px solid RGBA(0,0,0,0);
    border-radius: 10px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: -1px 1px 20px 3px grey;
    width: 809px;
}

h2 {
    margin-bottom: 20px;
}

h3{
    margin: 10px 0;
}

h4 {
    margin-top: 20px;
}

aside {
    display: inline;
}

.skills-list {
    list-style: none;
}

.skills-list li {
    display: inline-block;
    margin: 10px 20px 50px;
}

footer {
    position: relative;
    top: 50px;
    padding: 20px;
    background-color: #3c634c;
    width: 100%;
    color: lightgrey;
    text-align: center;
}