@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Gotihc A1', sans-serif;
}

/*------------------------- Nav Bar -------------------------*/
nav {
    font-family: 'Kanit';
    text-transform: uppercase;
    background-image: linear-gradient(to right, #000, #00374A);
    height: 50px;
    display: flex;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    overflow: hidden;
}

nav ul li {
    list-style: none;
}

.nav-link  {
    color: white;
    list-style: none;
    text-decoration: none;
    padding: 20px;
}

.nav-link:hover {
    color: goldenrod;
    background-color: rgba(255, 255, 255, .05);
} 

.nav-link:active {
    color: white;
    background-color: rgba(255, 255, 255, .5)
}

/*------------------------- General -------------------------*/

main {
    max-width: 1400px;
    min-width: 500px;
    margin: 0 auto;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
    border-bottom: 1px solid black;
    text-align: center;
    padding: 25px;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 20px;
}

section {
    display: flex;
    flex-direction: column;
    margin-top: 50px; 
    min-width: 500px;
}

/*------------------------- About Section -------------------------*/

#about {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    padding: 100px 0 200px;
}

#about h1 {
    padding: 25px 0;
}

#about-info {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 0 auto;
    padding-right: 10%;
}

#profile-img {
    width: 30%;
    border: transparent;
    border-radius: 50%;
    box-shadow: 0 0 10px #000;
}

/*------------------------- Projects Section -------------------------*/
.normal-direction {
    display: flex;
    flex-direction: row;
    margin: 100px 0;
}

.reverse-direction {
    display: flex;
    flex-direction: row-reverse;
    margin: 100px 0;
}

.project-aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 100px;
}

.skills-list {
    display: flex;
    list-style: none;
}

.skills-list li {
    padding: 10px;
}

.skills-img {
    height: 50px;
    padding: 10px 10px;
}

/*------------------------- Contact Section -------------------------*/
#contact-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 25px 0;
}

#contact-list {
    display: flex;
    list-style: none;
}

#contact-list li {
    padding: 10px;
}

.contact-img {
    height: 40px;
    padding: 10px;
}

/*------------------------- Footer -------------------------*/
footer {
    background-image: linear-gradient(to right, #000, #00374A);
    color: white;
    text-align: center;
    padding: 25px 0;
}